<div id="<%= dom_id persona %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= persona.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= persona.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Occupation:</strong>
    <%= persona.occupation %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rg:</strong>
    <%= persona.rg %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Organ sender:</strong>
    <%= persona.organ_sender %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= persona.cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Birthdate:</strong>
    <%= persona.birthdate %>
  </div>
</div>
