<!DOCTYPE html>
<html>
  <head>
    <title>NÚCLEO DE APOIO ÀS PESSOAS COM ANEMIA FALCIFORME GLAUCOMA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- AdminLTE 4 -->
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/4.0.0-beta1/css/adminlte.min.css"
      integrity="sha512-V+5Ib3dKVbUgK+gh4U1MKPhCPAnsx7NEtbQbh7iJNS4C4vlqQ2LJ2ss2lQj9kFn16g2RTsBwE28r8GsHVlMCXw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Fontes e ícones -->
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fontsource/source-sans-3@5.0.12/index.css"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.min.css"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/overlayscrollbars@2.3.0/styles/overlayscrollbars.min.css"
      crossorigin="anonymous">

    <!-- Scripts do AdminLTE -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/4.0.0-beta1/js/adminlte.min.js"
      integrity="sha512-cdFutZXfLv4+h80CCqQN/3CRQ1hqNphfwiKK9aqwfjv0GNQBaDuKK/jGJ5RCeFwreNbejybsTKU/dzqDTDxNJw=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>

  <body class="layout-fixed sidebar-expand-lg bg-gray-100">
    <div class="app-wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <main class="app-main">
        <%= yield %>
      </main>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
